html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}

#editor {
    padding: 0;
    margin: 0;
    min-height: 100%;
    margin-left: 5px;  /* Same as divider width */
    left: 0;
}

body:not(.pane-visible) #editor {
    left: 0 !important;
}

#pane {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    display: none;
    border: none;
}

#pane-divider {
    left: 200px; /* Same as left component width */
    width: 5px;
    background: transparent;
    border-right: 1px solid #999;
    display: none;
}

.pane-visible #editor {
    left: 200px;  /* Same as left component width */
}

.pane-visible #pane {
    display: block;
}

.pane-visible #pane-divider {
    display: block;
}

.CodeMirror {
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    border: none;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size: 18px;
    line-height: 30px;
}

.CodeMirror-code {
    margin-top: 50px;
}

.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {

}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
    box-shadow:inset 0px 4px 0px 0px #FFF; /* top border hack on scrollbar */
    background: #7fcaee
}

.CodeMirror-overlayscroll-horizontal div:hover, .CodeMirror-overlayscroll-vertical div:hover {
    background: #0095dd
}

.CodeMirror-overlayscroll-vertical {
    right: 4px;
    width: 8px;
}

.CodeMirror-overlayscroll-horizontal {
    bottom: 4px;
    height: 8px;
}

.CodeMirror-search-match {
    background: orange;
    border-top: none;
    border-bottom: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .7;
    margin-right: 4px;
    width: 8px !important;
}

.CodeMirror-sizer {
    width: 90%;
    max-width: 900px;
    margin: 0 auto !important;
}

.CodeMirror-dialog {
    left: 0; 
    right: 0;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: #333;
    position: fixed;
    font-family: Arial, sans-serif;
    cursor: default;
    background: #0095dd;
    color: #fff;
}

.CodeMirror-dialog-top {
    border-bottom: 1px solid #eee;
    top: 0;
}

.CodeMirror-dialog-bottom {
    border-top: 1px solid #eee;
    bottom: 0;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    min-width: 300px !important;
    margin: auto 10px;
    color: inherit;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size: inherit;
    color: #fff;
    cursor: text;
}

.CodeMirror-dialog button {
    font-size: 0.7em;
    background: #0077b0;
    border-radius: 1px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 12px;
    vertical-align: top;
    margin: 4px 0 0 6px;
    text-align: center;
    border: none;
    outline: none;
}

.CodeMirror-dialog button:hover, .CodeMirror-dialog button:active {
    box-shadow: #333 0px -1px 1px 0px inset;
}

.CodeMirror-dialog button:focus {
    background: #00689a;
}

.CodeMirror-dialog span {
    color: #eee !important;
    font-size: .8em;
    float: right;
    clear: none;
}

.CodeMirror-selected, .CodeMirror-focused .CodeMirror-selected {
    background-color: #dce9f3;
    color: #FFF
}

.CodeMirror-widget span.autopreview-error {
    color: #FFF;
    background: url(../svg/notification.svg) no-repeat 10px #C00;
    border-radius: 6px;
    padding: 6px 10px 6px 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.cm-header, .cm-s-default .cm-header {
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
    color: #111;
}
.cm-header-1 { font-size: 300%; line-height: 100%; }
.cm-header-2 { font-size: 220%; }
.cm-header-3 { font-size: 180%; }
.cm-header-4 { font-size: 150%; }
.cm-header-5 { font-size: 130%; }
.cm-header-6 { font-size: 110%; }
.header-underline .cm-header-1, .header-underline .cm-header-2 { font-size: 100%; }

/* Test */
.toto {color: red !important;}

/* Listes */
.cm-variable-2:first-child, .cm-variable-3:first-child {
    padding-left: 20px;
}

.cm-s-default .cm-variable-2, .cm-s-default .cm-variable-3 {
    color:  #000;
}

.cm-s-default .checkbox-checked .cm-variable-2, .cm-s-default .checkbox-checked .cm-variable-3 {
    color:  #999;
    text-decoration: line-through;
}

.cm-variable-2 + .cm-variable-2, .cm-variable-3 + .cm-variable-3 {
    padding-left: 0;
}

.cm-s-default .cm-quote {
    color: #888;
}

/* Todolists */

span.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: text-top;
    background: transparent no-repeat center center;
    background-image: url('../svg/checkbox-unchecked.svg');
    cursor: pointer;
}

span.checkbox.checked {
    background-image: url('../svg/checkbox-checked.svg');
}

/* Anchors */
a.anchor {
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background: url('../svg/anchor.svg') no-repeat center;    
    cursor: default;
}

/* Retours chariot */
body.show-hidden-characters .cm-trailing-whitespace { }
body.show-hidden-characters .cm-trailing-whitespace:last-child:after { content: '↵'; color: #0095dd; font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace; font-weight: normal; font-style: normal;}

/* Tabs 
FIXME: s'affiche pas bien
*/
body.show-hidden-characters .cm-tab {}
body.show-hidden-characters .cm-tab:after { content: '⇥'; color: #0095dd; font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace; font-weight: normal; font-style: normal; margin-left: -50%;}

/* Blocks */
.CodeMirror-wrap pre {
    padding-left: 20px;
}
body.show-blocks pre.not-blank {
    border-left: 5px solid #ddd;
}

.cm-s-default .cm-hr {
    color: #999;
    width: 100%;
    display: inline-block;
    text-align: center;
}


/* Preview test */
.selection-preview {display: inline;}

p {
    cursor: default;
}

/* Focusmode */
body.focus-mode .CodeMirror-code > div:not(.CodeMirror-activeline), body.focus-mode .CodeMirror-code > pre:not(.CodeMirror-activeline) {
    opacity: .3;
}
.CodeMirror-activeline-background {
    background: transparent;
}

/* Mathjax fix */
.CodeMirror-widget div.MathJax_Display {
    margin-top: -1em;
    margin-bottom: -1em;
}

/* Pane */
#pane {
    cursor: default;
}

#pane h2 {
    padding-left: 10px;
    background-color: #ccc;
    font-size: 14px;
}

/*#pane ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#pane ul li {
    cursor: pointer;
    line-height: 1.5em;
    border-top: 1px solid #ddd;
}

#pane ul li:first-child {
    border-top: none;
}

#pane ul li:hover, #pane ul li:focus {
    background: #0095dd;
    border-color: #0095dd;
    color: #fff;
}

#pane ul li:hover + li, #pane ul li:focus + li {
    border-color: #0095dd;
}*/

#pane ul li.toc-h1 a {
    padding-left: 10px;
}

#pane ul li.toc-h2 a {
    padding-left: 20px;
}

#pane ul li.toc-h3 a {
    padding-left: 30px;
}

#pane ul li.toc-h4 a {
    padding-left: 40px;
}

#pane ul li.toc-h5 a {
    padding-left: 50px;
}

#pane ul li.toc-h6 a {
    padding-left: 60px;
}

#pane-select {
    cursor: default;
    margin-bottom: 10px;
    display: block;
}