html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}

#editor {
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
    min-height: calc(100% - 4px);
    transition: margin .1s linear;
}

#pane {
    position: absolute;
    top: 0;
    left: -220px;
    bottom: 0;
    width: 200px;
    display: block;
    background: #ddd;
    transition: left .1s linear;
}

.pane-visible #editor {
    margin-left: 200px;
}

.pane-visible #pane {
    left: 0;
}

.CodeMirror {
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    border: none;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size: 18px;
    line-height: 30px;
}

.CodeMirror-code {
    margin-top: 50px;
}

.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {

}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
    box-shadow:inset 0px 4px 0px 0px #FFF; /* top border hack on scrollbar */
    background: #7fcaee
}

.CodeMirror-overlayscroll-horizontal div:hover, .CodeMirror-overlayscroll-vertical div:hover {
    background: #0095dd
}

.CodeMirror-overlayscroll-vertical {
    right: 4px;
    width: 8px;
}

.CodeMirror-overlayscroll-horizontal {
    bottom: 4px;
    height: 8px;
}

.CodeMirror-search-match {
    background: orange;
    border-top: none;
    border-bottom: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .7;
    margin-right: 4px;
    width: 8px !important;
}

.CodeMirror-sizer {
    width: 90%;
    max-width: 900px;
    margin: 0 auto !important;
}

.CodeMirror-dialog {
    left: 0; 
    right: 0;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: #333;
    position: fixed;
    font-family: Arial, sans-serif;
    cursor: default;
    background: #0095dd;
    color: #fff;
}

.CodeMirror-dialog-top {
    border-bottom: 1px solid #eee;
    top: 0;
}

.CodeMirror-dialog-bottom {
    border-top: 1px solid #eee;
    bottom: 0;
}

.CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    min-width: 300px !important;
    margin: auto 10px;
    color: inherit;
    font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
    font-size: inherit;
    color: #fff;
    cursor: text;
}

.CodeMirror-dialog button {
    font-size: 0.7em;
    background: #0077b0;
    border-radius: 1px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 12px;
    vertical-align: top;
    margin: 4px 0 0 6px;
    text-align: center;
    border: none;
    outline: none;
}

.CodeMirror-dialog button:hover, .CodeMirror-dialog button:active {
    box-shadow: #333 0px -1px 1px 0px inset;
}

.CodeMirror-dialog button:focus {
    background: #00689a;
}

.CodeMirror-dialog span {
    color: #eee !important;
    font-size: .8em;
    float: right;
    clear: none;
}

.CodeMirror-selected, .CodeMirror-focused .CodeMirror-selected {
    background-color: #dce9f3;
    color: #FFF
}

.cm-header, .cm-s-default .cm-header {
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
    color: #111;
}
.cm-header-1 { font-size: 300%; line-height: 100%; }
.cm-header-2 { font-size: 170%; }
.cm-header-3 { font-size: 125%; }
.cm-header-4 { font-size: 110%; }
.cm-header-5 { font-size: 100%; }
.cm-header-6 { font-size: 90%; }

/* Listes */
.cm-variable-2, .cm-variable-3 {
    padding-left: 30px;
    color: #000 !important; /* FIXME: surcharge la coloration syntaxique */
}

.cm-variable-2 + .cm-variable-2, .cm-variable-3 + .cm-variable-3 {
    padding-left: 0;
}

.cm-s-default .cm-quote {
    color: #888;
}

/* Retours chariot */
body.show-hidden-characters .cm-trailing-whitespace { }
body.show-hidden-characters .cm-trailing-whitespace:last-child:after { content: '↵'; color: #0095dd; font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace; font-weight: normal; font-style: normal;}

/* Tabs 
FIXME: s'affiche pas bien
*/
body.show-hidden-characters .cm-tab {}
body.show-hidden-characters .cm-tab:after { content: '⇥'; color: #0095dd; font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace; font-weight: normal; font-style: normal; margin-left: -50%;}

/* Blocks */
.CodeMirror-wrap pre {
    padding-left: 20px;
}
body.show-blocks pre.not-blank {
    border-left: 5px solid #ddd;
}

.cm-s-default .cm-hr {
    color: #999;
    width: 100%;
    display: inline-block;
    text-align: center;
}


/* Preview test */
.selection-preview {display: inline;}

p {
    cursor: default;
}

/* Focusmode */
body.focus-mode .CodeMirror-code > div:not(.CodeMirror-activeline), body.focus-mode .CodeMirror-code > pre:not(.CodeMirror-activeline) {
    opacity: .3;
}
.CodeMirror-activeline-background {
    background: transparent;
}