.CodeMirror {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  border: none;
  font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
  font-size: 18px;
  line-height: 30px;
  background-color: #fff;
  color: #1d2426;
}
.CodeMirror-code {
  margin-top: 50px;
}
.CodeMirror-sizer {
  width: 90%;
  max-width: 900px;
  margin: 0 auto !important;
}
.CodeMirror-cursors.CodeMirror-overwrite .CodeMirror-cursor {
  border-left: none !important;
  border-bottom: 1px solid black !important;
  width: 1.2ex;
}
.CodeMirror-selected,
.CodeMirror-focused .CodeMirror-selected {
  background-color: #dce9f3;
}
.cm-header {
  font-weight: bold;
}
.cm-strong {
  font-weight: bold;
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-strikethrough {
  text-decoration: line-through;
}
.cm-error {
  color: #c00;
}
.cm-invalidchar {
  color: #c00;
}
.CodeMirror span.cm-m-markdown {
  font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
}
.CodeMirror span.cm-m-markdown.cm-header {
  color: #000;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}
.CodeMirror span.cm-m-markdown.cm-header-1 {
  font-size: 300%;
  line-height: 100%;
}
.CodeMirror span.cm-m-markdown.cm-header-2 {
  font-size: 220%;
}
.CodeMirror span.cm-m-markdown.cm-header-3 {
  font-size: 180%;
}
.CodeMirror span.cm-m-markdown.cm-header-4 {
  font-size: 150%;
}
.CodeMirror span.cm-m-markdown.cm-header-5 {
  font-size: 130%;
}
.CodeMirror span.cm-m-markdown.cm-header-6 {
  font-size: 110%;
}
.CodeMirror span.cm-m-markdown.cm-comment {
  font-family: "Courier New", Courier, "Liberation Mono", monospace;
  color: #3d2249;
}
.CodeMirror span.cm-m-markdown.cm-quote {
  color: #75787b;
}
.CodeMirror span.cm-m-markdown.cm-variable-2,
.CodeMirror span.cm-m-markdown.cm-variable-3,
.CodeMirror span.cm-m-markdown.cm-keyword {
  color: auto;
}
.CodeMirror span.cm-m-markdown.cm-variable-2:first-child,
.CodeMirror span.cm-m-markdown.cm-variable-3:first-child,
.CodeMirror span.cm-m-markdown.cm-keyword:first-child {
  padding-left: 20px;
}
.CodeMirror span.cm-m-markdown.cm-variable-2 + .CodeMirror span.cm-m-markdown.cm-variable-2,
.CodeMirror span.cm-m-markdown.cm-variable-2 + .CodeMirror span.cm-m-markdown.cm-variable-3,
.CodeMirror span.cm-m-markdown.cm-variable-2 + .CodeMirror span.cm-m-markdown.cm-keyword,
.CodeMirror span.cm-m-markdown.cm-variable-3 + .CodeMirror span.cm-m-markdown.cm-variable-2,
.CodeMirror span.cm-m-markdown.cm-variable-3 + .CodeMirror span.cm-m-markdown.cm-variable-3,
.CodeMirror span.cm-m-markdown.cm-variable-3 + .CodeMirror span.cm-m-markdown.cm-keyword,
.CodeMirror span.cm-m-markdown.cm-keyword + .CodeMirror span.cm-m-markdown.cm-variable-2,
.CodeMirror span.cm-m-markdown.cm-keyword + .CodeMirror span.cm-m-markdown.cm-variable-3,
.CodeMirror span.cm-m-markdown.cm-keyword + .CodeMirror span.cm-m-markdown.cm-keyword {
  padding-left: 0;
}
.CodeMirror span.cm-m-markdown.cm-hr {
  color: #75787b;
}
.CodeMirror span.cm-m-markdown.cm-tag {
  color: #f50;
}
.CodeMirror span.cm-m-markdown.cm-formatting {
  color: #1d75b3;
}
.CodeMirror span.cm-m-markdown.cm-link {
  color: #05a;
}
.CodeMirror span.cm-m-markdown.cm-string {
  color: #75787b;
}
.header-underline .cm-header-1,
.header-underline .cm-header-2 {
  font-size: 100%;
}
.CodeMirror span:not(.cm-m-markdown) {
  font-family: "Courier New", Courier, "Liberation Mono", monospace;
}
.CodeMirror span:not(.cm-m-markdown).cm-atom {
  color: #75438a;
}
.CodeMirror span:not(.cm-m-markdown).cm-attribute {
  color: #05a;
}
.CodeMirror span:not(.cm-m-markdown).cm-builtin {
  color: #30a;
}
.CodeMirror span:not(.cm-m-markdown).cm-bracket {
  color: #997;
}
.CodeMirror span:not(.cm-m-markdown).cm-comment {
  color: #75787b;
}
.CodeMirror span:not(.cm-m-markdown).cm-def {
  color: #05a;
}
.CodeMirror span:not(.cm-m-markdown).cm-header {
  color: #05a;
}
.CodeMirror span:not(.cm-m-markdown).cm-hr {
  color: #999;
}
.CodeMirror span:not(.cm-m-markdown).cm-keyword {
  color: #1d75b3;
}
.CodeMirror span:not(.cm-m-markdown).cm-link {
  color: #05a;
}
.CodeMirror span:not(.cm-m-markdown).cm-meta {
  color: #555;
}
.CodeMirror span:not(.cm-m-markdown).cm-node {
  color: #9c3328;
}
.CodeMirror span:not(.cm-m-markdown).cm-number {
  color: #75438a;
}
.CodeMirror span:not(.cm-m-markdown).cm-operator {
  color: auto;
}
.CodeMirror span:not(.cm-m-markdown).cm-property {
  color: #1d75b3;
}
.CodeMirror span:not(.cm-m-markdown).cm-punctuation {
  color: auto;
}
.CodeMirror span:not(.cm-m-markdown).cm-qualifier {
  color: #047d65;
}
.CodeMirror span:not(.cm-m-markdown).cm-quote {
  color: #090;
}
.CodeMirror span:not(.cm-m-markdown).cm-string {
  color: #b35e14;
}
.CodeMirror span:not(.cm-m-markdown).cm-string-2 {
  color: #f50;
}
.CodeMirror span:not(.cm-m-markdown).cm-tag {
  color: #9c3328;
}
.CodeMirror span:not(.cm-m-markdown).cm-variable {
  color: #047d65;
}
.CodeMirror span:not(.cm-m-markdown).cm-variable-2 {
  color: #05a;
}
.CodeMirror span:not(.cm-m-markdown).cm-variable-3 {
  color: #085;
}
.CodeMirror span:not(.cm-m-markdown).cm-negative {
  color: #d44;
}
.CodeMirror span:not(.cm-m-markdown).cm-positive {
  color: #292;
}
body.show-hidden-characters .cm-trailing-whitespace:last-child:after {
  content: '↵';
  color: #0095dd;
  font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
  font-weight: normal;
  font-style: normal;
}
body.show-hidden-characters .cm-tab:after {
  content: '⇥';
  color: #0095dd;
  font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
  font-weight: normal;
  font-style: normal;
  margin-left: -50%;
}
.CodeMirror-widget span.autopreview-error {
  color: #c00;
  background: url(../svg/notification.svg) no-repeat 10px #fff;
  border-radius: 6px;
  padding: 6px 10px 6px 30px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
a.anchor {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  background: url('../svg/anchor.svg') no-repeat center;
  cursor: default;
}
.CodeMirror-widget div.MathJax_Display {
  margin-top: -1em;
  margin-bottom: -1em;
}
span.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: text-top;
  background: transparent no-repeat center center;
  background-image: url('../svg/checkbox-unchecked.svg');
  cursor: pointer;
}
span.checkbox.checked {
  background-image: url('../svg/checkbox-checked.svg');
}
span.checkbox.checked .cm-variable-2,
span.checkbox.checked .cm-variable-3,
span.checkbox.checked .cm-keyword {
  color: #999;
  text-decoration: line-through;
}
.cm-checked-list-item {
  text-decoration: line-through;
  color: #999;
}
.cm-checked-list-item.cm-trailing-whitespace,
.cm-checked-list-item.cm-property,
.cm-checked-list-item.cm-variable-2:first-child,
.cm-checked-list-item.cm-variable-3:first-child,
.cm-checked-list-item.cm-keyword:first-child {
  text-decoration: none;
  color: #999;
}
.cm-checked-list-item > .cm-variable-2,
.cm-checked-list-item > .cm-variable-3,
.cm-checked-list-item > .cm-keyword {
  color: #999;
}
.CodeMirror-wrap pre {
  padding-left: 20px;
}
body.show-blocks pre.not-blank {
  border-left: 5px solid #ddd;
}
