html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
body {
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
  user-select: none;
}
p {
  cursor: default;
}
#editor {
  padding: 0;
  margin: 0;
  min-height: 100%;
  margin-left: 5px;
  left: 0;
}
#pane {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  display: none;
  border: none;
  border-radius: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0 15px 0;
  cursor: default;
  text-decoration: none;
  background-color: #f9f9f9;
  color: #444;
}
#pane:hover {
  overflow-y: auto;
}
#pane h2 {
  font-size: 16px;
  padding: 10px;
  margin: 0;
}
#pane h2:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../svg/book.svg") no-repeat center;
}
#pane ul {
  margin: 0 -15px;
  padding: 0;
  list-style: none;
}
#pane ul li {
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding: 0 15px;
  color: #444;
}
#pane ul li a {
  display: block;
  padding: 8px 0;
}
#pane ul li a:hover {
  background: rgba(0, 0, 0, 0.03);
  color: #444;
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 #fff;
}
#pane ul li.pane-active a {
  background: #009dd8;
  color: #fff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
#pane ul li.toc-h1 a {
  padding-left: 10px;
}
#pane ul li.toc-h2 a {
  padding-left: 20px;
}
#pane ul li.toc-h3 a {
  padding-left: 30px;
}
#pane ul li.toc-h4 a {
  padding-left: 40px;
}
#pane ul li.toc-h5 a {
  padding-left: 50px;
}
#pane ul li.toc-h6 a {
  padding-left: 60px;
}
#pane-divider {
  left: 200px;
  width: 5px;
  background: transparent;
  border-left: 1px solid #999;
  display: none;
}
body:not(.pane-visible) #editor {
  left: 0 !important;
}
.pane-visible #editor {
  left: 200px;
}
.pane-visible #pane {
  display: block;
}
.pane-visible #pane-divider {
  display: block;
}
.CodeMirror-dialog {
  left: 0;
  right: 0;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: #fff;
  position: fixed;
  font-family: Arial, sans-serif;
  cursor: default;
  background: #0095dd;
}
.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}
.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}
.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  min-width: 300px !important;
  margin: auto 10px;
  color: inherit;
  font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
  font-size: inherit;
  color: #fff;
  cursor: text;
}
.CodeMirror-dialog button {
  font-size: 0.7em;
  background: #0077b0;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 12px;
  vertical-align: top;
  margin: 4px 0 0 6px;
  text-align: center;
  border: none;
  outline: none;
}
.CodeMirror-dialog button:hover,
.CodeMirror-dialog button:active {
  box-shadow: #333 0px -1px 1px 0px inset;
}
.CodeMirror-dialog button:focus {
  background: #00689a;
}
.CodeMirror-dialog span {
  color: #eee !important;
  font-size: .8em;
  float: right;
  clear: none;
}
.CodeMirror-overlayscroll-horizontal,
.CodeMirror-overlayscroll-vertical {
  background-color: #e5e5e5;
}
.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
  background: #AAA;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
.CodeMirror-overlayscroll-horizontal div:hover,
.CodeMirror-overlayscroll-vertical div:hover {
  background: #AAA;
  border-color: #AAA;
}
.CodeMirror-overlayscroll-vertical {
  right: 0;
  width: 10px;
}
.CodeMirror-overlayscroll-vertical div {
  width: 8px;
}
.CodeMirror-overlayscroll-horizontal {
  bottom: 0;
  height: 10px;
}
.CodeMirror-overlayscroll-horizontal div {
  height: 8px;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  display: block;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 4px;
  width: 8px;
  border: 1px solid #e5e5e5;
}
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: #AAA;
  border-color: #AAA;
}
.CodeMirror-search-match {
  background: #F19414;
  border-top: none;
  border-bottom: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
  width: 10px !important;
}
